@page "/"
@using JOHNNYbeGOOD.Home.Api.Contracts
@using JOHNNYbeGOOD.Home.Api.Contracts.Models
@inject IFeedingService service

<Alert @ref="successAlert" Color="Color.Success">Feeding succeeded</Alert>
<Alert @ref="failedAlert" Color="Color.Danger" IsDismisable="true"><strong>Feeding failed</strong>, @failureMessage <CloseButton /></Alert>

@if (feedingSummary == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="hero welcome is-bold @heroClass">
        <div class="hero-body">
            <div class="container">
                @if (feedingSummary.NextFeedingTime.HasValue)
                {
                    <h1 class="title">@feedingSummary.NextFeedingTime.Value.ComparedToNow() until next feeding</h1>
                }
                else
                {
                    <h1 class="title">No next feeding scheduled</h1>
                }

                @if (string.IsNullOrWhiteSpace(feedingSummary.NextFeedingSlotName))
                {
                    <p class="subtitle">All flaps empty</p>
                }
                else
                {
                    <p class="subtitle">Next flap: @feedingSummary.NextFeedingSlotName</p>
                }

                @if (feedingSummary.PreviousFeedingTime.HasValue)
                {
                    <h2 class="subtitle">Last feeding: @feedingSummary.PreviousFeedingTime.Value.ComparedToNow() ago</h2>
                }
            </div>
        </div>
    </section>
}

<section class="section">
    <div class="container">
        <div class="control">
            <button type="submit" class="button is-link has-text-weight-medium is-medium @(isFeeding?"is-loading":"")" @onclick="FeedNowAsync" disabled="@(isFeeding || !canFeed)">Feed now</button>
        </div>
    </div>
</section>

@code {
    private FeedingSummaryResponse feedingSummary;
    private bool isFeeding;
    private bool canFeed;
    private Alert successAlert;
    private Alert failedAlert;
    private string failureMessage;
    private string heroClass;

    protected override async Task OnInitializedAsync()
    {
        await UpdateSummary();
    }

    private async Task ShowSuccess()
    {
        successAlert.Show();
        await Task.Delay(2000);
        successAlert.Hide();
    }

    private async Task UpdateSummary()
    {
        feedingSummary = await service.GetSummaryAsync();
        canFeed = !string.IsNullOrEmpty(feedingSummary.NextFeedingSlotName);

        heroClass = "is-primary";

        if (!feedingSummary.NextFeedingTime.HasValue)
        {
            heroClass = "is-light";
        }
        else if (string.IsNullOrWhiteSpace(feedingSummary.NextFeedingSlotName))
        {
            heroClass = "is-warning";
        }
    }

    private void ShowFailure(string message)
    {
        failureMessage = message;
        failedAlert.Show();
    }

    private async Task FeedNowAsync()
    {
        successAlert.Hide();
        failedAlert.Hide();
        isFeeding = true;

        try
        {
            var response = await service.PostFeed();
            isFeeding = false;

            if (response.Succeeded)
            {
                await ShowSuccess();
            }
            else
            {
                ShowFailure("issue with the Flap opening");
            }
        }
        catch (Exception ex)
        {
            ShowFailure($"unable to open Flap - {ex.Message}");
        }
        finally
        {
            isFeeding = false;
            await UpdateSummary();
        }
    }

}