@page "/status"
@using JOHNNYbeGOOD.Home.Api.Contracts
@using JOHNNYbeGOOD.Home.Api.Contracts.Models
@inject ISystemService service

@if (status == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>Devices</h2>
    <Table IsStriped="true">
        <TableHeader>
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Type</TableHeaderCell>
                <TableHeaderCell>Connected</TableHeaderCell>
                <TableHeaderCell>State</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var item in status.Devices)
            {
            <TableRow>
                <TableRowHeader>@item.Device</TableRowHeader>
                <TableRowCell>@item.DeviceType</TableRowCell>
                <TableRowCell>@item.Connected</TableRowCell>
                <TableRowCell>
                    @item.State.ToString()

                    @if (string.IsNullOrEmpty(item.Description))
                    {
                        <em class="has-text-light">@item.Description</em>
                   }
                </TableRowCell>
            </TableRow>
            }
        </TableBody>
    </Table>

    <h2>Feeding slots</h2>
    <Table IsStriped="true">
        <TableHeader>
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Can Open</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var item in status.FeedingSlot)
            {
            <TableRow>
                <TableRowHeader>@item.Slot</TableRowHeader>
                <TableRowCell>@item.CanOpen</TableRowCell>
            </TableRow>
            }
        </TableBody>
    </Table>
}

@code {
    private StatusResponse status;

    protected override async Task OnInitializedAsync()
    {
        status = await service.GetStatus();
    }
}